/* Admin Partial */
.admin {
    padding: 20px 0;
    overflow: hidden;
}
.admin_contact-form {
    margin: 20px 0;
}
.admin_contact-header,
.admin_contact-form_button {
    margin: 0 15px;
}
/* End Admin Partial */
