<section class="dashboard" ng-controller="DashboardController as vm">
    <div class="columns small-12 dashboard_header text-center">
        <h1>Yo Dawg!</h1>
        <h2 class="light-weight">Black Bar Labs' Inaugural SPA generator.</h2>
    </div>
    <div class="row">
        <div class="columns large-4">
            <ul class="pricing-table">
                <li class="title">Structural</li>
                <li class="description"><h6 class="subheader">Scaffold Your App</h6></li>
                <li ng-repeat="structure in vm.generators.structure" class="bullet-item">{{structure}}</li>
            </ul>
        </div>
        <div class="columns large-4">
            <ul class="pricing-table">
                <li class="title">Front-End</li>
                <li class="description"><h6 class="subheader">Pimp Your App</h6></li>
                <li ng-repeat="frontend in vm.generators.frontend" class="bullet-item">{{frontend}}</li>
            </ul>
        </div>
        <div class="columns large-4">
            <ul class="pricing-table">
                <li class="title">Service</li>
                <li class="description"><h6 class="subheader">Data-fi Your App</h6></li>
                <li ng-repeat="service in vm.generators.service" class="bullet-item">{{service}}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            <h3>Usage</h3>
        </div>
    </div>
    <div class="row">
        <div class="columns large-6">
            <h4>Module:</h4>
            <p>Creates a new module for application code to reside and wires it up to the root app module.</p>
            <h5>Command</h5>
            <pre>yo dawg:module namedModule</pre>
            <h5>Produces</h5>
            <pre>src/app/core/named.module.js</pre>
            <pre>src/app/core/named.module.spec.js</pre>
        </div>
        <div class="columns large-6">
            <h4>Controller:</h4>
            <p>Generates a new application controller.</p>
            <h5>Command:</h5>
            <pre>yo dawg:controller namedController</pre>
            <h5>Prompts You:</h5>
            <pre>Which module?: app.core</pre>
            <h5>Produces:</h5>
            <pre>src/app/core/named.controller.js</pre>
            <pre>src/app/core/named.controller.spec.js</pre>
        </div>
    </div>
</section>
