<top-bar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">{{vm.navline.title}}</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li toggle-top-bar class="menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <top-bar-section>
        <ul class="right">
            <li><a ui-sref="dashboard">Dashboard</a></li>
            <li><a ui-sref="admin">Admin</a></li>
        </ul>
    </top-bar-section>
</top-bar>
